<div class='container'>
	<h1>Groups</h1>
	<% if @groups.blank? %>
		<p>No Groups</p>
	<% else %>
		<% @groups.each do |group| %>
			<div class="col-md-4">
				<div class="mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title mdl-card--expand">
			  		<h2 class="mdl-card__title-text"><%= group.name.capitalize %></h2>
					</div>
		  		<div class="mdl-card__supporting-text">
		    		<p>Members: <%= group.memberships.count %></p>
		    		<!-- Total Expenses -->
		    		<!-- Total unpaid Expenses -->
		    		<!-- Total paid Expenses -->
		  		</div>
		  		<div class="mdl-card__actions mdl-card--border">
		  			<%= link_to 'View Group', group_path(group), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
		  			<!-- Link to see your expenses for the group -->
		      </div>
	      </div>
      </div>
		<% end %>
	<% end %>
</div>