<div class='container'>
	<h1>You are now viewing the <%= @group.name %> group</h1>
	<%= link_to "View / Add memberships", group_memberships_path(@group) %>
	<%= link_to "Back to groups", root_path %>
</div>